*{
    margin: 0;
    padding: 0;
}

.grid-container{
    display: grid;
    /* grid-template-columns: 200px 500px 200px ; */
    /* grid-template-columns: auto; */
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-columns: 3fr 1fr 2fr;

    /* grid-template-rows: 100px 100px 100px; */
    grid-template-rows: auto;
    /* gap: 50px; */
    /* row-gap: 20px;
    column-gap: 50px; */
    gap: 20px 50px;   
    background-color: antiquewhite;
    padding: 10px;
}

.grid-item{
    background-color: aqua;
    color: blue;
    display: flex;
    justify-content: center;
    justify-items: center;
    padding: 20px;
}