table{
    width: 80%;
    margin: 5px auto;
    border-collapse: collapse;
    border-spacing: 5px;
    background-color:bisque;
}




th,td{
    border: 5px solid #0000;
    padding: 30px;
    text-align: center;
}

tr:nth-child(even){
    background-color: lightblue;
}

tr:hover{
    background-color: red;
} 

/* @media screen and (max-width) {
    table{
        width: 100%;
        display: block;
        overflow-x: auto;
    }
    
}*/