*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    width: 300px;
    /* justify-content: center; */
    /* justify-content:flex-start; */
    /* justify-content: flex-end; */
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    /* justify-content: space-evenly; */
    /* height: 500px; */
    /* align-items: center; */
    /* align-items: flex-start; */
    /* align-items: flex-end; */
    /* align-items: baseline; */
    align-items: center;
    justify-content: center;
    background-color: aqua;
}

/* .item{
    width: 100px;
    height: 100px;
    background-color: blue;
    margin: 5px;
} */

.item{
    background-color: blue;
    margin: 5px;
    width: 200px;
}

.item:first-child{
    /* flex-grow: 1; */
    flex-shrink: 1;
}

.item:last-child{
    /* flex-grow: 2; */
    flex-shrink: 3;
}