*{
    margin: 0;
    padding: 0;
}
p{
    /* COLOR */
    /* color: red; */
    /* color: #ff5733; */
    /* color: rgb(0, 128, 255); */
    /* color: hsl(240, 100%, 50%); */

    /* TEXT ALIGNMENT */
    /* text-align: left; */
    /* text-align: right; */
    /* text-align: center; */
    /* text-align: justify; */

    /* TEXT SPACING */
    /* letter-spacing: 10px; */
    /* word-spacing: 10px; */
    /* line-height: 4; */


   color: blue;
   text-align: justify;
   letter-spacing: 1.5px;
   word-spacing: 3px;
   line-height: 1.8;

}